workflows/Battery_Power_Automation.json
{"createdAt":"2025-08-24T15:21:35.138Z","updatedAt":"2025-08-24T16:32:30.000Z","id":"qWfEpL2tNE0gN1rV","name":"Battery_Power_Automation","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"battery/event","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-816,-224],"id":"d710a540-0991-4183-964e-5b1d34e12c2d","name":"Webhook","webhookId":"5e701d5b-9730-4ef7-8257-10e76d42825e"},{"parameters":{"assignments":{"assignments":[{"id":"423f4bda-149a-45da-99ee-6f4f09d71f6c","name":"body.battery","value":"={{ $json.body.battery }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-224],"id":"606747b1-cba4-4a70-b6ec-677f26462985","name":"Edit Fields"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-288,-224],"id":"f0b954e7-1ed3-4d38-9da3-9c596ece67a4","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2edc92ab-7e27-49a0-a562-e13a0a97abdd","triggerCount":1,"shared":[{"createdAt":"2025-08-24T15:21:35.217Z","updatedAt":"2025-08-24T15:21:35.217Z","role":"workflow:owner","workflowId":"qWfEpL2tNE0gN1rV","projectId":"GoLxSJ1gBfT6jsrD"}],"tags":[]}