workflows/Battery_Power_Automation.json
{"createdAt":"2025-08-24T15:21:35.138Z","updatedAt":"2025-08-24T19:57:34.000Z","id":"qWfEpL2tNE0gN1rV","name":"Battery_Power_Automation","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-688,-160],"id":"dfac28b1-a9f2-4d28-9ca0-8375354173b2","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3fd365a-b36f-410a-83c7-34c142c82413","leftValue":"={{ $json.status }}","rightValue":"Discharging","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,-160],"id":"744c3ad2-6d14-460a-84cc-0dd5651e51db","name":"Discharging?"},{"parameters":{"assignments":{"assignments":[{"id":"bb314e53-4f3a-4b55-bbc4-385e13fb0ef3","name":"battery","value":"={{ $json.stdout.split(\"\\n\")[0] }}","type":"number"},{"id":"41107aa6-0931-4c12-8977-54ff2c4016a4","name":"status","value":"={{ $json.stdout.split(\"\\n\")[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,-160],"id":"264784b6-4dbc-4f16-aca5-a7babeaba73b","name":"Format Data"},{"parameters":{"command":"cat /sys/class/power_supply/BAT1/capacity\ncat /sys/class/power_supply/BAT1/status"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-384,-160],"id":"cee48805-928b-495a-b3cc-1255ddd4cba9","name":"Get Battery Percent & Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79147c1d-01b8-4e17-80bf-13be24abf7fd","leftValue":"={{ $json.battery }}","rightValue":10,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-368],"id":"4a6c2dc6-705c-4511-b6a4-391299988e05","name":"Battery <= 10%"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fab2133d-5e8a-485c-91ce-03d8cc4de904","leftValue":"={{ $json.battery }}","rightValue":85,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[336,32],"id":"1b4c4490-e54b-41c0-bda6-54a1196f5e38","name":"Battery >= 85%"},{"parameters":{"resource":"service","operation":"call","domain":"switch","service":"turn_on","serviceAttributes":{"attributes":[{"name":"entity_id","value":"switch.home_lab_socket_1"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[624,-480],"id":"99c276f1-f038-4342-a596-01511520fa37","name":"Turn ON Power","alwaysOutputData":false,"credentials":{"homeAssistantApi":{"id":"TM0eBHQOOq6Ae9LS","name":"My Home Assistant"}}},{"parameters":{"resource":"service","operation":"call","domain":"switch","service":"turn_off","serviceAttributes":{"attributes":[{"name":"entity_id","value":"switch.home_lab_socket_1"}]}},"type":"n8n-nodes-base.homeAssistant","typeVersion":1,"position":[624,64],"id":"1ddd5372-fe18-441a-9341-de58f2f8a66c","name":"Turn OFF Power","credentials":{"homeAssistantApi":{"id":"TM0eBHQOOq6Ae9LS","name":"My Home Assistant"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Battery Percent & Status","type":"main","index":0}]]},"Format Data":{"main":[[{"node":"Discharging?","type":"main","index":0}]]},"Get Battery Percent & Status":{"main":[[{"node":"Format Data","type":"main","index":0}]]},"Discharging?":{"main":[[{"node":"Battery <= 10%","type":"main","index":0}],[{"node":"Battery >= 85%","type":"main","index":0}]]},"Battery >= 85%":{"main":[[{"node":"Turn OFF Power","type":"main","index":0}]]},"Battery <= 10%":{"main":[[{"node":"Turn ON Power","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"76479e20-594b-42a5-8fa7-658e354285d4","triggerCount":1,"shared":[{"createdAt":"2025-08-24T15:21:35.217Z","updatedAt":"2025-08-24T15:21:35.217Z","role":"workflow:owner","workflowId":"qWfEpL2tNE0gN1rV","projectId":"GoLxSJ1gBfT6jsrD"}],"tags":[]}