workflows/Expenses_to_FinanceOS.json
{"createdAt":"2024-12-25T11:10:39.084Z","updatedAt":"2025-09-07T16:56:24.000Z","id":"zGCNDssLY4apMr62","name":"Expenses_to_FinanceOS","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2016,-1216],"id":"475b3ecf-db19-4f26-a78e-e3a585d0231d","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"getAll","limit":10,"simple":false,"filters":{"q":"label:\"SBI/Debit Notifications\" OR label:\"SBI/Credit Notifications\" OR label:\"Axis/Debit Notifications\" OR label:\"Axis/Credit Notifications\" OR label:\"HDFC/Debit Notifications\" OR label:\"HDFC/Credit Notifications\" OR label:\"ICICI/Debit Notifications\" OR label:\"ICICI/Credit Notifications\" OR label:\"Amazon/Payment Notifications\" OR label:\"Big Basket/Order Notifications\"","readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1696,-1088],"id":"3a701403-239d-47eb-92fd-d83496f408fa","name":"Gmail","webhookId":"6c069447-5e34-4afe-b5ad-7f4b02166a5b","credentials":{"gmailOAuth2":{"id":"VvFAtNA9xn95wloi","name":"My GMail"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa4bebac-e600-4296-add0-47dda213b908","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,-288],"id":"8265331d-0506-4bf6-a1bd-bba767452b4d","name":"New Record?","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e078f1a8-6b1a-4bc4-be24-d5eb1c0e51af","leftValue":"={{ $json.transactionAmount }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"680d9ab5-46b4-4606-92d7-3d6249ec3cdc","leftValue":"={{ $json.transactionAmount }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}},{"id":"36d2e4c2-2b44-491a-b8a1-47719577b347","leftValue":"={{ $json.date }}","rightValue":"","operator":{"type":"dateTime","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,-48],"id":"25cd43c6-0774-4de8-8c44-7d74d92f329a","name":"Proper Data extracted?"},{"parameters":{"errorMessage":"The E-Mail extracted data is not in proper format!!!"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-336,192],"id":"04a97b67-a343-48b2-8b80-cdc494cb3bf9","name":"Formatting Error"},{"parameters":{"documentId":{"__rl":true,"value":"1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg","mode":"list","cachedResultName":"Finance OS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2071825769,"mode":"list","cachedResultName":"Expense Records","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg/edit#gid=2071825769"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $json.date }}"},{"lookupColumn":"Expense Record","lookupValue":"={{ $json.transactionInfo }}"},{"lookupColumn":"Amount","lookupValue":"={{ $json.transactionAmount }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-352,-288],"id":"9591080b-8745-46c7-9502-5658216978cc","name":"Verify existing entries","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7HJJ6BwhDxISPISK","name":"My GSheets"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg","mode":"list","cachedResultName":"Finance OS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2071825769,"mode":"list","cachedResultName":"Expense Records","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg/edit#gid=2071825769"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $('Proper Data extracted?').item.json.date }}","Amount":"={{ $('Proper Data extracted?').item.json.transactionAmount }}","Expense Record":"={{ $('Proper Data extracted?').item.json.transactionInfo }}","Payment Mode":"={{ $('Proper Data extracted?').item.json.transactionMode }}","Expense Type":"={{ $('Proper Data extracted?').item.json.transactionCategory }}","Account":"={{ $('Proper Data extracted?').item.json.transactionAccount }}"},"matchingColumns":["Date"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Expense Record","displayName":"Expense Record","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Amount","displayName":"Amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Expense Type","displayName":"Expense Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Payment Mode","displayName":"Payment Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Account","displayName":"Account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED","useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[224,-304],"id":"2706418f-89e0-41dc-9138-4742f987435c","name":"Append a Row","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7HJJ6BwhDxISPISK","name":"My GSheets"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d8ebb71-4de1-4e15-b31c-63514dfac3ee","leftValue":"={{ $json.Date }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"3cfe8364-454d-4951-b8ab-e12728bf9aee","leftValue":"={{ $json.Amount }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,-304],"id":"bf75390e-82bf-4bf2-9923-8aa9d2c60aad","name":"Append successful?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1408,-1088],"id":"95eacf78-fbcf-4de1-8d19-99bbca1b3851","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-1056,-1088],"id":"9343d48e-27bf-49c5-a949-3bdfa70fcc19","name":"Execute Workflow"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2016,-48],"id":"f5573767-cd78-4255-84a4-0d72c25796e2","name":"Execute Workflow Trigger"},{"parameters":{"content":"# Main Workflow:\n## Get all unread messages from mailbox.","height":640,"width":1320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2128,-1360],"id":"45f6d0d8-7f86-4b4d-b9da-d467ca9ed777","name":"Sticky Note"},{"parameters":{"content":"# Sub-Workflow:","height":968,"width":3520,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2128,-512],"id":"e552d596-336a-4b26-915c-9c38b699d564","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2016,-896],"id":"0c51b75e-7d02-4741-b216-1bafe60c11f8","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"42979d05-5484-4f45-835e-bf51cf3f1ab8","name":"Done","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,16],"id":"344b1240-de11-4ccf-838e-f9e590e5b92c","name":"Return"},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Execute Workflow Trigger').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[816,16],"id":"567fb804-937e-40a2-963d-72dae78dcba7","name":"Mark a message as read","webhookId":"8b1e4f38-c262-46dc-ad44-fe644729d8a6","credentials":{"gmailOAuth2":{"id":"VvFAtNA9xn95wloi","name":"My GMail"}}},{"parameters":{"promptType":"define","text":"=Analyze the given input JSON, which contains bank alert emails.\n\nExtract the following fields according to the schema and rules:\n- date\n- transactionAmount\n- currency\n- transactionInfo\n- transactionMode\n- transactionAccount\n- transactionType\n- transactionCategory\n\nReturn ONLY a JSON array with the schema defined in the system message. \n\nNow process the following input:\n\n{{ JSON.stringify($json) }}","hasOutputParser":true,"options":{"systemMessage":"You are a financial transactions extraction assistant.\n\nAlways output ONLY a valid JSON array that follows the exact schema below. \nNever include markdown, comments, code fences, or additional text.\n\nRules:\n- Dates: strictly YYYY-MM-DD format.\n- transactionInfo must come from counterparty details (payee name, UPI ID, account number, reference number) inside the email body.\n- Do not use generic subject lines as transactionInfo.\n- transactionAmount: numeric string with optional decimals, no commas or currency symbols.\n- transactionMode: one of [UPI, Cash, Credit Card, Debit Card, Wallet] or \"\" if unknown.\n- transactionAccount: one of [Axis, KVB, ICICI, HDFC, SBI, Amazon, Big Basket] or \"\" if unknown. In case of Big Basket, fetch 'Sub Total' for transactionAmount and hardcode 'Wallet' for transactionMode. \n- transactionType: either \"Credit\" or \"Expense\".\n- transactionCategory:\n    - If transactionType = \"Credit\": one of [Salary, Refund, Transfer] or \"\" if unknown.\n    - If transactionType = \"Expense\": one of [Groceries, Commute, Utility Bills, Dine out, Shopping, Entertainment, House Rent, Grooming, Medicine, Subscriptions, Insurance, Gifts & Tips, Miscellaneous, Snacks, Baking Supplies, Tour] or \"\" if unknown.\n- If unsure about any field, leave it as \"\".\n\nSchema:\n[\n  {\n    \"date\": \"YYYY-MM-DD\",\n    \"transactionAmount\": \"string\",\n    \"currency\": \"string\",\n    \"transactionInfo\": \"string\",\n    \"transactionMode\": \"string\",\n    \"transactionAccount\": \"string\",\n    \"transactionType\": \"string\",\n    \"transactionCategory\": \"string\"\n  }\n]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1424,-48],"id":"69c771dc-7c29-40fa-8f0c-192c7f3ff13c","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1552,240],"id":"0a089e68-9a70-4a89-8d09-233333d450e4","name":"Gemini AI","credentials":{"googlePalmApi":{"id":"pI3KvLjhzI3fbOV6","name":"Google Gemini AI API"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"date\": {\n        \"type\": \"string\",\n        \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}$\",\n        \"description\": \"Date in YYYY-MM-DD format\"\n      },\n      \"transactionAmount\": {\n        \"type\": \"string\",\n        \"pattern\": \"^[0-9]+(\\\\.[0-9]+)?$\",\n        \"description\": \"Numeric string, may contain decimals, no commas or currency symbol\"\n      },\n      \"currency\": {\n        \"type\": \"string\",\n        \"pattern\": \"^[A-Z]{3}$\",\n        \"description\": \"3-letter ISO currency code (e.g. INR, USD)\"\n      },\n      \"transactionInfo\": {\n        \"type\": \"string\",\n        \"description\": \"Raw transaction info or narration\"\n      },\n      \"transactionMode\": {\n        \"type\": \"string\",\n        \"description\": \"Transaction mode, e.g. UPI, Debit Card, Credit Card, Wallet\"\n      },\n      \"transactionAccount\": {\n        \"type\": \"string\",\n        \"description\": \"Bank or wallet name (no masked numbers)\"\n      },\n      \"transactionType\": {\n        \"type\": \"string\",\n        \"enum\": [\"Credit\", \"Expense\"],\n        \"description\": \"Transaction type\"\n      },\n      \"transactionCategory\": {\n        \"type\": \"string\",\n        \"description\": \"Category guess like groceries, salary, fuel, or empty string\"\n      }\n    },\n    \"required\": [\n      \"date\",\n      \"transactionAmount\",\n      \"currency\",\n      \"transactionInfo\",\n      \"transactionMode\",\n      \"transactionAccount\",\n      \"transactionType\",\n      \"transactionCategory\"\n    ],\n    \"additionalProperties\": false\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1120,224],"id":"5570bfb4-1d36-4ee1-a7cb-87df2523082b","name":"Structured Output Parser"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.output[0] }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,-48],"id":"65a0fc7d-cdbf-4c23-b8df-1a84a6dd9cd3","name":"Format Data"},{"parameters":{"assignments":{"assignments":[{"id":"da4f8afa-46f9-4cd7-93b4-77ce746428f5","name":"senderName","value":"={{ $json.from.value[0].name }}","type":"string"},{"id":"668b507d-146a-42c8-8190-eff43b3de9b0","name":"senderEmail","value":"={{ $json.from.value[0].address }}","type":"string"},{"id":"af57e318-075d-4a4e-8ebd-8151a12313fe","name":"data","value":"={{ $json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1712,-48],"id":"950e26b7-308c-4695-9f93-15ae245c8430","name":"Extract HTML Data"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Proper Data extracted?":{"main":[[{"node":"Verify existing entries","type":"main","index":0}],[{"node":"Formatting Error","type":"main","index":0}]]},"New Record?":{"main":[[{"node":"Append a Row","type":"main","index":0}],[{"node":"Mark a message as read","type":"main","index":0}]]},"Verify existing entries":{"main":[[{"node":"New Record?","type":"main","index":0}]]},"Append a Row":{"main":[[{"node":"Append successful?","type":"main","index":0}]]},"Append successful?":{"main":[[{"node":"Mark a message as read","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Extract HTML Data","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Mark a message as read":{"main":[[{"node":"Return","type":"main","index":0}]]},"Gemini AI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Format Data","type":"main","index":0}]]},"Format Data":{"main":[[{"node":"Proper Data extracted?","type":"main","index":0}]]},"Extract HTML Data":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8780eb88-1b11-4e11-a0d0-838ebe780122","triggerCount":1,"shared":[{"createdAt":"2024-12-25T11:10:39.114Z","updatedAt":"2024-12-25T11:10:39.114Z","role":"workflow:owner","workflowId":"zGCNDssLY4apMr62","projectId":"GoLxSJ1gBfT6jsrD"}],"tags":[]}