workflows/Expenses_to_FinanceOS.json
{"createdAt":"2024-12-25T11:10:39.084Z","updatedAt":"2024-12-25T13:29:35.000Z","id":"zGCNDssLY4apMr62","name":"Expenses_to_FinanceOS","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2020,-1220],"id":"475b3ecf-db19-4f26-a78e-e3a585d0231d","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"getAll","returnAll":true,"simple":false,"filters":{"labelIds":["Label_7742782708766668509"],"readStatus":"unread","sender":" alerts@axisbank.com"},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1700,-1080],"id":"3a701403-239d-47eb-92fd-d83496f408fa","name":"Gmail","webhookId":"6c069447-5e34-4afe-b5ad-7f4b02166a5b","credentials":{"gmailOAuth2":{"id":"VvFAtNA9xn95wloi","name":"My GMail"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Load the HTML data\nconst html = $json[\"data\"]; // Replace \"data\" with your actual JSON field name\n\n// Regular expressions to match the desired values\nconst dateRegex = /Date &amp; Time:<\\/p>\\s*<p>(.*?)<\\/p>/;\nconst amountDebitedRegex = /Amount Debited:<\\/p>\\s*<p>(.*?)<\\/p>/;\nconst transactionInfoRegex = /Transaction Info:<\\/p>\\s*<p>(.*?)<\\/p>/;\n\n// Find matches for each field\nconst dateMatch = html.match(dateRegex);\nconst amountDebitedMatch = html.match(amountDebitedRegex);\nconst transactionInfoMatch = html.match(transactionInfoRegex);\n\n// Function to convert date string to YYYY-MM-DD format\nconst formatDate = (dateString) => {\n  const [day, month, year] = dateString.split('-');\n  // Handle two-digit year and convert it to four-digit\n  const fullYear = parseInt(year) < 50 ? `20${year}` : `19${year}`; // Adjust as needed for your use case\n  return `${fullYear}-${month}-${day}`;\n};\n\n// Prepare the output object\nconst output = {\n  date: dateMatch ? formatDate(dateMatch[1].trim().split(\",\")[0]) : null, // Format date\n  amountDebited: amountDebitedMatch ? amountDebitedMatch[1].trim() : null, // Trim whitespace\n  transactionInfo: transactionInfoMatch ? transactionInfoMatch[1].trim() : null, // Trim whitespace\n};\n\n// Return the output as an array of a single object\nreturn { json: output };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1340,-40],"id":"885f0da4-397e-4487-adf8-927ade2d4247","name":"Extract Transaction Info"},{"parameters":{"assignments":{"assignments":[{"id":"af57e318-075d-4a4e-8ebd-8151a12313fe","name":"data","value":"={{ $json.textAsHtml }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,-40],"id":"5b2b963e-a483-4e41-bfd7-a5348dd5d04b","name":"Extract HTML Data"},{"parameters":{"assignments":{"assignments":[{"id":"7ced6ac5-548f-43a0-9082-4b5981f8019f","name":"amountDebited","value":"={{ $json.amountDebited.replaceAll('INR ','').toNumber() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,-40],"id":"18bd542e-55d0-4974-8234-82df9829a1d4","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa4bebac-e600-4296-add0-47dda213b908","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-260,-300],"id":"8265331d-0506-4bf6-a1bd-bba767452b4d","name":"New Record?","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e078f1a8-6b1a-4bc4-be24-d5eb1c0e51af","leftValue":"={{ $json.amountDebited }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"680d9ab5-46b4-4606-92d7-3d6249ec3cdc","leftValue":"={{ $json.amountDebited }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}},{"id":"36d2e4c2-2b44-491a-b8a1-47719577b347","leftValue":"={{ $json.date }}","rightValue":"","operator":{"type":"dateTime","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-760,-40],"id":"25cd43c6-0774-4de8-8c44-7d74d92f329a","name":"Proper Data extracted?"},{"parameters":{"errorMessage":"The E-Mail extracted data is not in proper format!!!"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-500,200],"id":"04a97b67-a343-48b2-8b80-cdc494cb3bf9","name":"Formatting Error"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[160,-120],"id":"0b741359-f48a-474e-8501-dc422d259e56","name":"No Operation, do nothing"},{"parameters":{"documentId":{"__rl":true,"value":"1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg","mode":"list","cachedResultName":"Finance OS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2071825769,"mode":"list","cachedResultName":"Expense Records","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg/edit#gid=2071825769"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $json.date }}"},{"lookupColumn":"Expense Record","lookupValue":"={{ $json.transactionInfo }}"},{"lookupColumn":"Amount","lookupValue":"={{ $json.amountDebited }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-500,-300],"id":"9591080b-8745-46c7-9502-5658216978cc","name":"Verify existing entries","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7HJJ6BwhDxISPISK","name":"My GSheets"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg","mode":"list","cachedResultName":"Finance OS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2071825769,"mode":"list","cachedResultName":"Expense Records","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kW1XVw-_OjGsbWQl41KqV5f0XjOqSbERsb2gldEKdTg/edit#gid=2071825769"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $('Edit Fields').item.json.date }}","Amount":"={{ $('Proper Data extracted?').item.json.amountDebited }}","Expense Record":"={{ $('Proper Data extracted?').item.json.transactionInfo }}"},"matchingColumns":["Date"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Expense Record","displayName":"Expense Record","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Amount","displayName":"Amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Expense Type","displayName":"Expense Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Payment Mode","displayName":"Payment Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Account","displayName":"Account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{"cellFormat":"USER_ENTERED","useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[20,-560],"id":"2706418f-89e0-41dc-9138-4742f987435c","name":"Append a Row","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7HJJ6BwhDxISPISK","name":"My GSheets"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d8ebb71-4de1-4e15-b31c-63514dfac3ee","leftValue":"={{ $json.Date }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"3cfe8364-454d-4951-b8ab-e12728bf9aee","leftValue":"={{ $json.Amount }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,-560],"id":"bf75390e-82bf-4bf2-9923-8aa9d2c60aad","name":"Append successful?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1400,-1080],"id":"95eacf78-fbcf-4de1-8d19-99bbca1b3851","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-1060,-1080],"id":"9343d48e-27bf-49c5-a949-3bdfa70fcc19","name":"Execute Workflow"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2020,-40],"id":"f5573767-cd78-4255-84a4-0d72c25796e2","name":"Execute Workflow Trigger"},{"parameters":{"content":"# Main Workflow:\n## Get all unread messages from mailbox.","height":640,"width":1320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2120,-1360],"id":"45f6d0d8-7f86-4b4d-b9da-d467ca9ed777","name":"Sticky Note"},{"parameters":{"content":"# Sub-Workflow:","height":1000,"width":3120,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2120,-620],"id":"e552d596-336a-4b26-915c-9c38b699d564","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2020,-900],"id":"0c51b75e-7d02-4741-b216-1bafe60c11f8","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"42979d05-5484-4f45-835e-bf51cf3f1ab8","name":"Done","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,-340],"id":"344b1240-de11-4ccf-838e-f9e590e5b92c","name":"Return"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract HTML Data":{"main":[[{"node":"Extract Transaction Info","type":"main","index":0}]]},"Extract Transaction Info":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Proper Data extracted?","type":"main","index":0}]]},"Proper Data extracted?":{"main":[[{"node":"Verify existing entries","type":"main","index":0}],[{"node":"Formatting Error","type":"main","index":0}]]},"New Record?":{"main":[[{"node":"Append a Row","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Verify existing entries":{"main":[[{"node":"New Record?","type":"main","index":0}]]},"Append a Row":{"main":[[{"node":"Append successful?","type":"main","index":0}]]},"Append successful?":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Extract HTML Data","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5f8f0a81-d1b5-4c8d-86eb-cd05c1be7aea","triggerCount":0,"tags":[]}