workflows/n8n_Workflows_Backup.json
{"createdAt":"2024-11-30T08:26:37.325Z","updatedAt":"2024-12-05T07:45:55.000Z","id":"oeS6V2wUt3Ue2Uvs","name":"n8n_Workflows_Backup","active":true,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Globals').item.json.repo.path }}{{ $json.name }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"3584155e-82d6-44b8-b1ce-a69b338ec521","name":"GitHub","type":"n8n-nodes-base.github","position":[860,520],"typeVersion":1,"alwaysOutputData":true,"executeOnce":false,"credentials":{"githubOAuth2Api":{"id":"rLj4hjh0BERCennD","name":"My GitHub Account"}},"continueOnFail":true},{"parameters":{"filters":{},"requestOptions":{}},"id":"ae454346-a966-4e05-8617-4944c4e6d3bd","name":"n8n","type":"n8n-nodes-base.n8n","position":[640,520],"typeVersion":1,"credentials":{"n8nApi":{"id":"mwFUmn0xTs23FTtH","name":"My n8n Account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"3cb8b013-7e7d-48c9-b12b-7eb01043c9b2","name":"If","type":"n8n-nodes-base.if","position":[1140,520],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('n8n').item.json.toJsonString() }}"}],"combinator":"and"},"options":{}},"id":"0e4192bd-1136-4cd0-a4c5-20a323f6cdd3","name":"If1","type":"n8n-nodes-base.if","position":[1760,320],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"e9c166f4-0761-4d14-aa6e-fb59b63c466b","name":"Code","type":"n8n-nodes-base.code","position":[1440,320],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Globals').item.json.repo.path }}{{ $('n8n').item.json.name }}.json","fileContent":"={{ $('n8n').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('n8n').item.json.name }}.json - Workflow Created"},"id":"ef42dfd4-3892-4cea-a686-de6644c97efa","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[1440,720],"typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"rLj4hjh0BERCennD","name":"My GitHub Account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Globals').item.json.repo.path }}{{ $json.name }}","fileContent":"={{ $('n8n').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('n8n').item.json.name }}.json - Workflow Updated"},"id":"c767b519-c8e3-4d17-b595-1c0679955e90","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[2080,520],"typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"rLj4hjh0BERCennD","name":"My GitHub Account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"8abe87f0-07bf-4069-9e52-6e71ac252be9","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[80,520],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":81.74946004319654,"width":184.01727861771067,"color":2},"id":"6cf045ad-1d3f-4a1e-9fd5-0dcb84f7e985","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2040,420],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80,"width":163.02375809935205,"color":2},"id":"aabe6222-6963-44d7-a09b-d3f2a59fd355","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1740,220],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80,"width":182.26781857451408,"color":2},"id":"bce3676e-e9e7-42a6-b0b8-d5010c9e6424","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1400,920],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80,"width":152.19289956803453,"color":2},"id":"9e149e26-4028-45e9-b257-56f3dbee8825","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[900,420],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":85.24838012958965,"width":150,"color":2},"id":"06e5f798-410b-4d99-89bb-8f724f9d55f8","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1420,220],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80,"width":150,"color":2},"id":"cf201b74-d054-47e9-91ec-9072de9f8e2f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[620,420],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"gowthamkumarj11"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-Backups"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"workflows/"}]},"options":{}},"id":"5cb1a8e9-b458-4156-9faa-d1e771eff487","name":"Globals","type":"n8n-nodes-base.set","position":[380,520],"typeVersion":3.4},{"parameters":{"content":"Set GitHub Parameters as Global Variables","height":80,"width":172.0603812564559,"color":2},"id":"cb1d0bd4-c562-4b46-b48f-005f70bcf025","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,420]}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7fded36b-d341-4715-9d1a-47dd96220fd5","triggerCount":1,"tags":[]}