workflows/n8n_Credentials_Backup.json
{"createdAt":"2024-12-01T12:02:13.509Z","updatedAt":"2024-12-05T07:38:00.000Z","id":"15iK5Bu71CnKxT62","name":"n8n_Credentials_Backup","active":false,"nodes":[{"parameters":{},"id":"d8f7aa8f-8add-43b9-a8f4-2d1a68654948","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-300,280],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":995.5277839547371,"width":3028.31269977233,"color":5},"id":"a42aeb2d-cb50-4498-94f1-8b8fb61130ab","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-460,799.0712758861662],"typeVersion":1},{"parameters":{},"id":"5ca8f288-9f71-4b13-af1d-8c593005acd2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-60,1200],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"8753057c-5a09-4872-ab90-8cff11587651","name":"Return","type":"n8n-nodes-base.set","position":[2280,1160],"typeVersion":3.3},{"parameters":{},"id":"20e838a1-7ad8-43da-b1f5-c551d556d011","name":"Merge Items","type":"n8n-nodes-base.merge","position":[740,1180],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"},"id":"c9161b55-2e8d-4d0e-98e7-6841064de28c","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[1000,1180],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"097e9663-f86a-46f5-bfa4-359270469efa","name":"Check Status","type":"n8n-nodes-base.switch","position":[1240,1180],"typeVersion":1},{"parameters":{},"id":"b2a7f42d-df80-407d-8995-45b5c383a21f","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1760,880],"typeVersion":1},{"parameters":{},"id":"e82cb299-059b-4a15-bbc5-9e1422c462c7","name":"File is different","type":"n8n-nodes-base.noOp","position":[1520,1160],"typeVersion":1},{"parameters":{},"id":"a8607a15-655f-478a-91fc-fd77c1c2bd06","name":"File is new","type":"n8n-nodes-base.noOp","position":[1520,1500],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.txt","fileContent":"={{ $json.base64 }}","commitMessage":"=[N8N Backup] Credential {{ $('Execute Workflow Trigger').item.json.id }} created."},"id":"ffb94e0f-ea66-4ffc-9d64-759baf9c1254","name":"Create new file","type":"n8n-nodes-base.github","position":[2020,1500],"typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"rLj4hjh0BERCennD","name":"My GitHub Account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.txt","fileContent":"={{ $json.base64 }}","commitMessage":"=[N8N Backup] Credential {{ $('Execute Workflow Trigger').item.json.id }} updated."},"id":"7eefa8c6-3aa5-4f3f-8638-a86feee6cee6","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2020,1160],"typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"rLj4hjh0BERCennD","name":"My GitHub Account"}}},{"parameters":{"options":{}},"id":"53b206fb-0f5a-4805-aa32-d101d1c5dae6","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[540,400],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"debe0b6a-8702-4814-9983-9b9cddd65e63","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-320,560],"typeVersion":1.2},{"parameters":{"content":"## Main workflow loop","height":553.8259598366532,"width":1543.476713814349,"color":7},"id":"a8fa1e2e-ef11-4e26-8b8d-7b284f45638d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-460,200],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.txt","asBinaryProperty":false,"additionalParameters":{}},"id":"673a4b63-9892-4a60-b762-e9c0bb178bc0","name":"Get file data","type":"n8n-nodes-base.github","position":[540,960],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"rLj4hjh0BERCennD","name":"My GitHub Account"}},"continueOnFail":true},{"parameters":{"command":"npx n8n export:credentials --all --decrypted"},"id":"43228950-20fb-45dc-90f7-6620cc9b6a06","name":"Execute Command","type":"n8n-nodes-base.executeCommand","position":[0,400],"typeVersion":1},{"parameters":{"jsCode":"// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"},"id":"4c146ba3-a553-444d-b1dd-5ebf2ecad1b6","name":"JSON formatting","type":"n8n-nodes-base.code","position":[260,400],"typeVersion":2},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"e217bf52-90ce-4325-a4ac-d9def1f6991c","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[840,400],"typeVersion":1},{"parameters":{"jsCode":"const jsonData = $json.n8n_data_stringy; // Get the current JSON data\nconst jsonString = JSON.stringify(jsonData); // Convert JSON to a string\nconst base64String = Buffer.from(jsonString).toString('base64'); // Convert string to Base64\n\nreturn [\n    {\n        json: {\n            base64: base64String // Output the Base64 string\n        }\n    }\n];"},"id":"0db0ef31-45a4-4488-afbf-2c5b5816cd04","name":"Convert content to Base64 string","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,1500]},{"parameters":{"jsCode":"const jsonData = $json.n8n_data_stringy; // Get the current JSON data\nconst jsonString = JSON.stringify(jsonData); // Convert JSON to a string\nconst base64String = Buffer.from(jsonString).toString('base64'); // Convert string to Base64\n\nreturn [\n    {\n        json: {\n            base64: base64String // Output the Base64 string\n        }\n    }\n];"},"id":"7c8f1350-6480-45a8-8e0b-5c1485296125","name":"Convert content to Base64 string1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,1160]},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"gowthamkumarj11"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-Backups"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"credentials/"}]},"options":{}},"id":"cf7b67bc-e0c9-44d6-ba8f-084d178cf2d5","name":"Globals","type":"n8n-nodes-base.set","position":[260,960],"typeVersion":3.4}],"connections":{"File is new":{"main":[[{"node":"Convert content to Base64 string","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"JSON formatting","type":"main","index":0}]]},"JSON formatting":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Convert content to Base64 string1","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Globals","type":"main","index":0}]]},"Convert content to Base64 string":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Convert content to Base64 string1":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get file data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"961bcc4b-43af-4f19-a727-d137e411a8e9","triggerCount":1,"tags":[]}