workflows/n8n_Credentials_Backup.json
{"createdAt":"2024-12-01T12:02:13.509Z","updatedAt":"2024-12-09T07:15:46.000Z","id":"15iK5Bu71CnKxT62","name":"n8n_Credentials_Backup","active":true,"nodes":[{"parameters":{},"id":"d8f7aa8f-8add-43b9-a8f4-2d1a68654948","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-320,280],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":1236,"width":3408,"color":5},"id":"a42aeb2d-cb50-4498-94f1-8b8fb61130ab","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-460,800],"typeVersion":1},{"parameters":{},"id":"5ca8f288-9f71-4b13-af1d-8c593005acd2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-200,1480],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"8753057c-5a09-4872-ab90-8cff11587651","name":"Return","type":"n8n-nodes-base.set","position":[2700,1440],"typeVersion":3.3},{"parameters":{},"id":"20e838a1-7ad8-43da-b1f5-c551d556d011","name":"Merge Items","type":"n8n-nodes-base.merge","position":[640,1460],"typeVersion":2},{"parameters":{"jsCode":"// Get the input data (array of items)\nconst inputData = items.map(item => item.json);\n\n// Check if the input data has at least two items\nif (inputData.length < 2) {\n  throw new Error(\"Input data must contain at least two items.\");\n}\n\n// Function to check if two objects are identical\nconst areIdentical = (obj1, obj2) => {\n  return JSON.stringify(obj1) === JSON.stringify(obj2);\n}\n\n// Destructure the two items for clarity\nconst [firstItem, secondItem] = inputData;\n\n// Set the indicator\nlet indicator;\nlet output = null;\n\n// Determine the indicator and output\nif (Object.keys(firstItem).length === 0 || Object.keys(firstItem.data).length === 0) {\n  indicator = 'new';\n  contentString = JSON.stringify(secondItem); // Send the second item as output\n  buffer = Buffer.from(contentString);\n  output = buffer.toString();\n} else if (areIdentical(firstItem, secondItem)) {\n  indicator = 'identical';\n} else {\n  indicator = 'different';\n  contentString = JSON.stringify(secondItem); // Send the second item as output\n  buffer = Buffer.from(contentString);\n  output = buffer.toString();\n}\n\n// Return the output along with the indicator\nreturn [\n  {\n    json: {\n      status: indicator,\n      output: output\n    }\n  }\n];\n"},"id":"c9161b55-2e8d-4d0e-98e7-6841064de28c","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[880,1460],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"dataType":"string","value1":"={{ $json.status }}","rules":{"rules":[{"value2":"identical"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"097e9663-f86a-46f5-bfa4-359270469efa","name":"Check Status","type":"n8n-nodes-base.switch","position":[1120,1440],"typeVersion":1},{"parameters":{},"id":"b2a7f42d-df80-407d-8995-45b5c383a21f","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1880,1100],"typeVersion":1},{"parameters":{},"id":"e82cb299-059b-4a15-bbc5-9e1422c462c7","name":"File is different","type":"n8n-nodes-base.noOp","position":[1480,1440],"typeVersion":1},{"parameters":{},"id":"a8607a15-655f-478a-91fc-fd77c1c2bd06","name":"File is new","type":"n8n-nodes-base.noOp","position":[1600,1780],"typeVersion":1},{"parameters":{"options":{}},"id":"53b206fb-0f5a-4805-aa32-d101d1c5dae6","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[540,400],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"debe0b6a-8702-4814-9983-9b9cddd65e63","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-320,560],"typeVersion":1.2},{"parameters":{"content":"## Main workflow loop","height":553.8259598366532,"width":1543.476713814349,"color":7},"id":"a8fa1e2e-ef11-4e26-8b8d-7b284f45638d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-460,200],"typeVersion":1},{"parameters":{"command":"npx n8n export:credentials --all --decrypted"},"id":"43228950-20fb-45dc-90f7-6620cc9b6a06","name":"Execute Command","type":"n8n-nodes-base.executeCommand","position":[0,400],"typeVersion":1},{"parameters":{"jsCode":"// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"},"id":"4c146ba3-a553-444d-b1dd-5ebf2ecad1b6","name":"JSON formatting","type":"n8n-nodes-base.code","position":[260,400],"typeVersion":2},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"e217bf52-90ce-4325-a4ac-d9def1f6991c","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[840,400],"typeVersion":1},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[940,980],"id":"a27f636c-9e19-4f19-9e06-f711c8144cde","name":"Extract from File"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name='{{ $('Execute Workflow Trigger').item.json.id }}.json'","filter":{"folderId":{"__rl":true,"value":"1wWRZ7FRNjpy1p9H3_aAI8vN5hN_cl4dn","mode":"list","cachedResultName":"Credentials","cachedResultUrl":"https://drive.google.com/drive/folders/1wWRZ7FRNjpy1p9H3_aAI8vN5hN_cl4dn"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[40,1220],"id":"cb867b9d-4e3d-4ec6-957a-8e3376081442","name":"Search Credential","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"Wf8hfSzoD0q6yRbw","name":"My Google Drive"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[660,980],"id":"b01dd63f-c8ab-4e13-97ed-560acc1403c1","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"Wf8hfSzoD0q6yRbw","name":"My Google Drive"}}},{"parameters":{"operation":"createFromText","content":"={{ $json.output }}","name":"={{ $('Execute Workflow Trigger').first().json.id }}.json","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1wWRZ7FRNjpy1p9H3_aAI8vN5hN_cl4dn","mode":"list","cachedResultName":"Credentials","cachedResultUrl":"https://drive.google.com/drive/folders/1wWRZ7FRNjpy1p9H3_aAI8vN5hN_cl4dn"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2260,1780],"id":"a4acf6fa-465d-417e-a5c0-dc2189d6f76d","name":"Create File","credentials":{"googleDriveOAuth2Api":{"id":"Wf8hfSzoD0q6yRbw","name":"My Google Drive"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Search Credential').first().json.id }}","mode":"id"},"changeFileContent":true,"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2260,1440],"id":"0da2874f-409e-4496-b0c7-b60fe8eb0250","name":"Update File","credentials":{"googleDriveOAuth2Api":{"id":"Wf8hfSzoD0q6yRbw","name":"My Google Drive"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1980,1440],"id":"d0ff1593-c215-45a4-8064-685c905353e1","name":"Convert to File"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,980],"id":"39908278-d6cf-4dcd-9655-21488fe9055f","name":"Extract JSON"},{"parameters":{"jsCode":"const jsonData = $json.output; // Get the current JSON data\nconst jsonString = JSON.stringify(jsonData); // Convert JSON to a string\nconst base64String = Buffer.from(jsonString).toString('base64'); // Convert string to Base64\n\n// Return an object representing the output item\nreturn {\n    json: {\n        base64: base64String // Output the Base64 string\n    }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,1440],"id":"0717cdca-bf51-460e-9026-8481191953b5","name":"Convert to Base64"},{"parameters":{"jsCode":"const jsonData = $json.output; // Get the current JSON data\nconst jsonString = JSON.stringify(jsonData); // Convert JSON to a string\nconst output = Buffer.from(jsonString).toString(); // Convert string to Base64\n\n// Return an object representing the output item\nreturn {\n    json: {\n        output: output // Output the Base64 string\n    }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,1780],"id":"249c0f4e-fb3b-485a-ac19-c7a62a84ba4b","name":"Stringify JSON"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8013c678-eb1c-46f4-8e57-45e578a26e90","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"72e887d4-2eda-4e55-a948-966d1cff86f0","leftValue":"={{ $json.name }}","rightValue":"={{ $('Execute Workflow Trigger').item.json.id }}.json","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,1000],"id":"d4eaefb3-6d65-4632-a1bc-c82b2238b777","name":"File Available?"}],"connections":{"File is new":{"main":[[{"node":"Stringify JSON","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"JSON formatting","type":"main","index":0}]]},"JSON formatting":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Convert to Base64","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Search Credential","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Extract JSON","type":"main","index":0}]]},"Search Credential":{"main":[[{"node":"File Available?","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Create File":{"main":[[{"node":"Return","type":"main","index":0}]]},"Update File":{"main":[[{"node":"Return","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Update File","type":"main","index":0}]]},"Extract JSON":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"Convert to Base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Stringify JSON":{"main":[[{"node":"Create File","type":"main","index":0}]]},"File Available?":{"main":[[{"node":"Download file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e081291-dc46-44d6-872a-cd11f3995562","triggerCount":1,"tags":[]}