workflows/Payslips_Backup.json
{"createdAt":"2024-11-24T06:36:26.961Z","updatedAt":"2024-12-11T05:58:59.000Z","id":"CCFiA0K0jbFx18Ac","name":"Payslips_Backup","active":false,"nodes":[{"parameters":{},"id":"83cbbfad-3ccc-43ab-a4dd-10aa47324466","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2100,580]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"subject:Payslip OR \"Payslip\" AND has:attachment","readStatus":"both","sender":"gowthj99@in.ibm.com"}},"id":"b0c9771b-4b95-4823-a974-f5144bf47a68","name":"Email Event","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-2100,240],"credentials":{"gmailOAuth2":{"id":"VvFAtNA9xn95wloi","name":"My GMail"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"dataPropertyAttachmentsPrefixName":"attachment_","downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1780,240],"id":"581573a0-0519-4f85-8bcb-cc1119f134ad","name":"Download Attachments","webhookId":"3c178a4e-663c-48f0-a108-706679dc1cb1","credentials":{"gmailOAuth2":{"id":"VvFAtNA9xn95wloi","name":"My GMail"}}},{"parameters":{"jsCode":"let results = [];\n\nfor (item of items)\n\n  {\n    for (key of Object.keys(item.binary))\n\n      {\n        results.push(\n          {\n          \tjson: {fileName: item.binary[key].fileName},\n        \tbinary: {data: item.binary[key]}\n          }\n        );\n      }\n  }\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1480,240],"id":"3cff6fce-ce98-4094-9c3c-6837a155eb51","name":"Split Attachments"},{"parameters":{"method":"POST","url":"https://api-h0m3lab.azurewebsites.net/api/decryptPDF?code=sn0g-2_6tnNqX3n6A4jNoTOtC5rj15GY1Lqb4goGAXRfAzFup-m4rw%3D%3D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-password","value":"BNOPG9234L"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1220,240],"id":"ea930dc2-c830-402b-9cc8-e8ec83d022af","name":"Decrypt PDF - Azure Function","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"fd019b96-a120-427c-b610-bf37fdffd41d","name":"salaryDate","value":"={{ $json.fileName.replaceAll('Payslip.PDF','') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,240],"id":"2c95e011-777c-4f75-b9f1-659ceaf6f7d3","name":"Edit Fields"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const formatLastDate = (input) => {\n    // Create a Date object with the year and month, calculate the last day\n    const lastDay = new Date(input.slice(0, 4), input.slice(4, 6), 0);\n\n    // Format the date to \"MMM YY\"\n    const formattedDate = lastDay.toLocaleDateString('en-US', { month: 'short', year: '2-digit' }).replace(',', '');\n\n    // Extract the full year\n    const fullYear = lastDay.getFullYear();\n\n    return { formattedDate, fullYear };\n};\n\n// Example usage in n8n\nconst inputDate = $json.salaryDate; // Replace this with dynamic input\n\nconst { formattedDate, fullYear } = formatLastDate(inputDate);\n\nreturn {\n    json: {\n        newfileName: formattedDate, // Add the formatted date\n        year: fullYear, // Include the full year\n        ...$json, // Include original JSON data\n    },\n    binary: $binary, // Include binary data unchanged\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,240],"id":"67c39569-8312-4ded-be2e-a53850c91507","name":"File Name Formatting"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name contains '{{ $json.newfileName }}.pdf' and '1Ltu83MKWkSpphzHUSlYeTJ5YXFRxBEpP' in parents","filter":{"whatToSearch":"files"},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-280,20],"id":"6dae7182-c12c-4409-af7e-acc21e8e3610","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"Wf8hfSzoD0q6yRbw","name":"My Google Drive"}}}],"connections":{"Email Event":{"main":[[{"node":"Download Attachments","type":"main","index":0}]]},"Download Attachments":{"main":[[{"node":"Split Attachments","type":"main","index":0}]]},"Split Attachments":{"main":[[{"node":"Decrypt PDF - Azure Function","type":"main","index":0}]]},"Decrypt PDF - Azure Function":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"File Name Formatting","type":"main","index":0}]]},"File Name Formatting":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6877ffcf-a0e9-4ab6-ba03-a000b7520e79","triggerCount":0,"tags":[]}