workflows/Payslips_Backup.json
{"createdAt":"2024-11-24T06:36:26.961Z","updatedAt":"2024-12-11T06:58:51.000Z","id":"CCFiA0K0jbFx18Ac","name":"Payslips_Backup","active":false,"nodes":[{"parameters":{},"id":"83cbbfad-3ccc-43ab-a4dd-10aa47324466","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2500,-40]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"subject:Payslip OR \"Payslip\" AND has:attachment","readStatus":"both","sender":"gowthj99@in.ibm.com"}},"id":"b0c9771b-4b95-4823-a974-f5144bf47a68","name":"Email Event","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-2500,-300],"credentials":{"gmailOAuth2":{"id":"VvFAtNA9xn95wloi","name":"My GMail"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2160,-300],"id":"581573a0-0519-4f85-8bcb-cc1119f134ad","name":"Download Attachments","webhookId":"3c178a4e-663c-48f0-a108-706679dc1cb1","credentials":{"gmailOAuth2":{"id":"VvFAtNA9xn95wloi","name":"My GMail"}}},{"parameters":{"jsCode":"let results = [];\n\nfor (item of items)\n\n  {\n    for (key of Object.keys(item.binary))\n\n      {\n        results.push(\n          {\n          \tjson: {fileName: item.binary[key].fileName},\n        \tbinary: {data: item.binary[key]}\n          }\n        );\n      }\n  }\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1860,-300],"id":"3cff6fce-ce98-4094-9c3c-6837a155eb51","name":"Split Attachments"},{"parameters":{"assignments":{"assignments":[{"id":"fd019b96-a120-427c-b610-bf37fdffd41d","name":"salaryDate","value":"={{ $json.fileName.replaceAll('Payslip.PDF','') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1560,-300],"id":"2c95e011-777c-4f75-b9f1-659ceaf6f7d3","name":"Edit Fields"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const formatLastDate = (input) => {\n    // Create a Date object with the year and month, calculate the last day\n    const lastDay = new Date(input.slice(0, 4), input.slice(4, 6), 0);\n\n    // Format the date to \"MMM YY\"\n    const formattedDate = lastDay.toLocaleDateString('en-US', { month: 'short', year: '2-digit' }).replace(',', '');\n\n    // Extract the full year\n    const fullYear = lastDay.getFullYear();\n\n    return { formattedDate, fullYear };\n};\n\n// Example usage in n8n\nconst inputDate = $json.salaryDate; // Replace this with dynamic input\n\nconst { formattedDate, fullYear } = formatLastDate(inputDate);\n\nreturn {\n    json: {\n        newfileName: formattedDate, // Add the formatted date\n        year: fullYear, // Include the full year\n        ...$json, // Include original JSON data\n    },\n    binary: $binary, // Include binary data unchanged\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1300,-300],"id":"67c39569-8312-4ded-be2e-a53850c91507","name":"File Name Formatting"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea9b8919-03f6-42e7-a6f0-75c894348b1c","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1680,580],"id":"b4b9368b-662b-401e-ac46-a3f3846e5a1f","name":"File already available?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1260,420],"id":"d6f08707-ffe9-413a-a704-7d78c4d67d15","name":"No Operation, do nothing"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name contains '{{ $json.newfileName }}.pdf'","filter":{"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2000,580],"id":"6dae7182-c12c-4409-af7e-acc21e8e3610","name":"Search File in Drive","credentials":{"googleDriveOAuth2Api":{"id":"Wf8hfSzoD0q6yRbw","name":"My Google Drive"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1020,-300],"id":"94242178-1220-4a9a-97cb-4bc678cb48f7","name":"Loop Over Items"},{"parameters":{"content":"# Parent Workflow","height":580,"width":2280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2680,-440],"id":"c37faa94-3a69-44f5-be9f-24dd4826911c","name":"Sticky Note"},{"parameters":{"content":"# Child Workflow","height":1280,"width":2280,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2640,280],"id":"e71f3180-7f87-44d1-9758-86c258acba0a","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2440,880],"id":"aab01a40-7475-4fc5-82cc-39bc1d1a571c","name":"Execute Workflow Trigger"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}","cachedResultName":"={{ $workflow.id }}"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-700,-300],"id":"8073559d-7e50-4207-88a2-3196bf792a08","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"6cfda416-920f-4932-bd8a-b691d535d773","name":"Return","type":"n8n-nodes-base.set","position":[-760,560],"typeVersion":3.3},{"parameters":{"resource":"fileFolder","searchMethod":"query","filter":{"folderId":{"__rl":true,"value":"1mQaBdqDFIe4Kwb7FdqnMPhJBHKmxLIO1","mode":"list","cachedResultName":"Payslips","cachedResultUrl":"https://drive.google.com/drive/folders/1mQaBdqDFIe4Kwb7FdqnMPhJBHKmxLIO1"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1300,1120],"id":"25bbf2cf-7e9b-4b25-8673-82f57c73ce1a","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"Wf8hfSzoD0q6yRbw","name":"My Google Drive"}}},{"parameters":{"method":"POST","url":"https://api-h0m3lab.azurewebsites.net/api/decryptPDF?code=sn0g-2_6tnNqX3n6A4jNoTOtC5rj15GY1Lqb4goGAXRfAzFup-m4rw%3D%3D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-password","value":"BNOPG9234L"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1320,800],"id":"ea930dc2-c830-402b-9cc8-e8ec83d022af","name":"Decrypt PDF - Azure Function","retryOnFail":true}],"connections":{"Email Event":{"main":[[{"node":"Download Attachments","type":"main","index":0}]]},"Download Attachments":{"main":[[{"node":"Split Attachments","type":"main","index":0}]]},"Split Attachments":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"File Name Formatting","type":"main","index":0}]]},"File Name Formatting":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"File already available?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Decrypt PDF - Azure Function","type":"main","index":0},{"node":"Google Drive","type":"main","index":0}]]},"Search File in Drive":{"main":[[{"node":"File already available?","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Search File in Drive","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Download Attachments","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[]]},"Execute Workflow":{"main":[[]]},"No Operation, do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"21fcce68-8a31-463b-afab-7df234c27230","triggerCount":0,"tags":[]}