workflows/Payslips_Backup.json
{"createdAt":"2024-11-24T06:36:26.961Z","updatedAt":"2024-12-10T08:12:30.000Z","id":"CCFiA0K0jbFx18Ac","name":"Payslips_Backup","active":false,"nodes":[{"parameters":{},"id":"83cbbfad-3ccc-43ab-a4dd-10aa47324466","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1660,400]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"subject:Payslip OR \"Payslip\" AND has:attachment","readStatus":"both","sender":"gowthj99@in.ibm.com"}},"id":"b0c9771b-4b95-4823-a974-f5144bf47a68","name":"Email Event","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-1660,60],"credentials":{"gmailOAuth2":{"id":"VvFAtNA9xn95wloi","name":"My GMail"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"dataPropertyAttachmentsPrefixName":"attachment_","downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1340,60],"id":"581573a0-0519-4f85-8bcb-cc1119f134ad","name":"Download Attachments","webhookId":"3c178a4e-663c-48f0-a108-706679dc1cb1","credentials":{"gmailOAuth2":{"id":"VvFAtNA9xn95wloi","name":"My GMail"}}},{"parameters":{"method":"POST","url":"https://pdf.ag-h0m3lab.duckdns.org/forms/libreoffice/convert","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,320],"id":"ea930dc2-c830-402b-9cc8-e8ec83d022af","name":"HTTP Request"},{"parameters":{"jsCode":"let results = [];\n\nfor (item of items)\n\n  {\n    for (key of Object.keys(item.binary))\n\n      {\n        results.push(\n          {\n          \tjson: {fileName: item.binary[key].fileName},\n        \tbinary: {data: item.binary[key]}\n          }\n        );\n      }\n  }\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,60],"id":"3cff6fce-ce98-4094-9c3c-6837a155eb51","name":"Split Attachments"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-720,60],"id":"a04d914e-d8c4-48a4-8df0-8a90a0d6c615","name":"Loop Over Items"},{"parameters":{"operation":"pdf","options":{"password":"BNOPG9234L"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-800,440],"id":"52c5451d-4c5e-4a0f-b662-9fc5b020a9d4","name":"Extract from File"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,440],"id":"1d7cc60c-489c-4916-9b40-950f44e17e98","name":"Code"}],"connections":{"Email Event":{"main":[[{"node":"Download Attachments","type":"main","index":0}]]},"Download Attachments":{"main":[[{"node":"Split Attachments","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Split Attachments":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a5033efe-578b-44aa-aa07-0e9aad8310ff","triggerCount":0,"tags":[]}